@model Usey.Models.Product

<h2>Delete Product</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            Quantity
        </dt>
        <dd class="col-sm-10">
            @Model.Quantity
        </dd>
        <dt class="col-sm-2">
            Purchase Date
        </dt>
        <dd class="col-sm-10">
            @Model.PurchaseDate.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            Expiration Date
        </dt>
        <dd class="col-sm-10">
            @Model.ExpirationDate.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
            @Model.Category
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
