<h2>Product Details</h2>
<dl>
    <dt>Product Name:</dt>
    <dd>@Model.Name</dd>
    <dt>Quantity:</dt>
    <dd>@Model.Quantity</dd>
    <dt>Purchase Date:</dt>
    <dd>@Model.PurchaseDate.ToShortDateString()</dd>
    <dt>Expiration Date:</dt>
    <dd>@Model.ExpirationDate.ToShortDateString()</dd>
    <dt>Category:</dt>
    <dd>@Model.Category</dd>
</dl>
<div>
    <a href="/Products/Index">Back to Product List</a>
</div>
